<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wrong Answer Note</title>


<link rel="stylesheet"
  href="{{ url_for('static', filename='style.css') }}">


</head>

<body>

<div class="page-card">


<h1 class="page-title">
    오답노트
</h1>

<div class="content-box">

    <h3>틀린 문제 복습</h3>

    <hr><br>

    {% if wrong_answers %}

        {% for item in wrong_answers %}

            <div style="margin-bottom:30px;">

                <p>
                    <b>문제</b>
                </p>

                <p>
                    {{ item.question }}
                </p>

                <p>
                    <b>정답 :</b>
                    {{ item.answer }}
                </p>

            </div>

            <hr><br>

        {% endfor %}

    {% else %}

        <p>
            틀린 문제가 없습니다.
        </p>

    {% endif %}

</div>

<br>

<a href="/dashboard">

    <button
        class="primary-btn">

        Dashboard로 돌아가기

    </button>

</a>


</div>

</body>
</html>
